div.slider-wrapper{
    width: 100%;
    height: 60vh;
}

div.slides-wrapper{
    position: relative;
    height: 100%;
    border: 2px solid white;
}

div.slides-wrapper .slide-description{
    position: absolute;
    bottom: 5%;
    right: 2%;
    text-align: end;
}

div.slides-wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

div.thumbnails-wrapper{
    position: relative;
    height: 100%;
}

div.thumbnails-wrapper img{
    height: calc(100% / 5);
    width: 100%;
    object-fit: cover;
    opacity: .5;
    border: 5px solid white;
    transition: all .5s ease;
}

div.thumbnails-wrapper img.active{
    opacity: 1;
    border: 2px solid white;
}

div.thumbnails-wrapper .button-up{
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
}

div.thumbnails-wrapper .button-down{
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%);
}